.buttonPdf {
  display: inline-block;
  font-family: Inter;
  background: rgba(255, 118, 73, 0.9);
  border-radius: 16px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
  transition: 150ms linear;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: rgb(255, 118, 73, 0.8) 0 2px 12px 0px;
  }
}

.links {
  font-family: Inter;
  font-weight: 500;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  border-radius: 0.75rem;
  width: 100%;

  .activeLink {
    color: var(--black);
  }

  text {
    position: relative;
    color: var(--placeholder);
    transition: color 300ms;
    cursor: pointer;

    & + text {
      margin-left: 2rem;
    }

    &:hover {
      color: var(--black);
    }

    &.activeLink::after {
      content: "";
      height: 4px;
      width: 50px;
      border-radius: 3px 3px 0 0;

      position: absolute;
      bottom: calc(-1rem - 3px);
      left: calc(50% - 50px / 2);

      background: var(--orange);
    }
  }
}
