.buttonBug {
  width: 3rem;
  height: 3rem;
  margin: auto;
  font-family: Inter;
  background: gray;
  border-radius: 16px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 10px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  transition: 150ms linear;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

  div {
    text-align: right;
  }

  a {
    position: absolute;
    left: 0;
    margin-left: 1.1rem;
    opacity: 0;
    transition: opacity 150ms;
  }

  &:hover {
    box-shadow: gray 0 2px 12px 0px;
    width: 9rem;

    a {
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}
