.buttonBug {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
  width: fit-content;
  margin: auto;
  font-family: Inter;
  background: gray;
  border-radius: 16px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 10px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  transition: 150ms linear;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: gray 0 2px 12px 0px;
  }
}
