.dark {
  display: flex;
  justify-content: center;
  width: 150px;
  color: var(--white);
}

.light {
  display: flex;
  justify-content: center;
  width: 150px;
  color: var(--black);
}

.navbar {
  display: flex;
  align-items: center;

  padding: 1rem 2rem;
  margin-bottom: 30px;

  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);

  .navbarButtons {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;

    .darkmode {
      display: flex;
      justify-content: center;
      padding: 5px;
      color: var(--black);
      text-align: center;

      &:hover {
        opacity: 75%;
      }
    }

    .buttonPdf {
      display: flex;
      justify-content: center;
      text-align: center;

      width: 150px;
      padding: 5px;

      color: var(--white);
      background-color: var(--orange);
      border: solid 2px var(--black);
      border-radius: 5px;

      &:hover {
        opacity: 75%;
      }
    }
  }

  .cesiumLogo {
    cursor: pointer;
    object-fit: contain;

    flex: 1;
    display: flex;
    justify-content: center;
  }

  .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
    a {
      position: relative;
      color: var(--placeholder);

      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--black);
      }

      &.activeLink {
        color: var(--white);
      }
    
      &.activeLink::after {
        content: "";
        height: 3px;
        width: 100%;
        border-radius: 3px 3px 0 0;
    
        position: absolute;
        bottom: calc(-2rem + 6px);
        left: 0;
    
        background: var(--orange);
      }
    }
  }

  .darkLink {
    a:hover {
      color: var(--white);
    }
  }
}
