.checkbox {
  width: 100%;
  border-radius: 16px;
  box-shadow: var(--shadow);
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  background: white;
  margin: 0 1rem 1rem 0;
}

.layer {
  z-index: 1;
}

.items {
  max-height: none;
  height: auto;
  overflow-y: hidden;
  width: auto;
}

.sub_checkbox {
  background: white;
  font-family: Inter;
}

.sub_sub_checkbox {
  background: white;
}

.sub_sub_sub_checkbox {
  background: white;
  font-weight: 400;
}

.filters {
  margin: 0 0 1rem 0;
}

.clearButton {
  width: 100%;
  background: rgba(73, 103, 255, 0.9);
  border-radius: 16px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
  margin: 0 0 1rem 0;
  transition: 150ms linear;
  padding: 0.6rem;

  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.22);

  &:hover {
    box-shadow: rgb(73, 103, 255, 0.8) 0 2px 12px 0px;
  }
}

.selected_schedules {
  display: inline-flex;
  position: relative;
  margin-top: 10px;
  height: fit-content;
  font-size: x-small;
}
