@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* if body class is dark */
body.dark {
  color: #fff;
  background-color: #1a202c;
}

body.dark .navbar-darkmode-btn {
  color: yellow;
}
body.dark .navbar-darkmode-btn:hover {
  color: yellow;
  background: none;
}

body.dark button {
  color: #fff;
  background-color: #1a202c;
}
body.dark button:hover {
  color: #1a202c;
  border: none;
}

body.dark h1 {
  color: #fff;
}
body.dark .rbc-day-bg {
  background-color: #1a202c;
}
body.dark .rbc-off-range-bg {
  background-color: #1a202c;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 75px;
  padding: 16px 32px;
  margin-bottom: 30px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
}

.nav-cesium-logo {
  height: 100%;
  cursor: pointer;
}

.navbar-button-pdf {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5px;
  color: white;
  text-align: center;
  background-color: #ed7950;
  border: solid 2px black;
  border-radius: 5px;
}
.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar-button-pdf:hover {
  opacity: 75%;
}
.navbar-darkmode-btn {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 5px;
  margin-right: 10px;
  color: black;
  text-align: center;
}

.navbar-darkmode-btn:hover {
  margin-bottom: 10px;
  opacity: 75%;
}
.txt-container-border {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.txt-caixa {
  display: block;
  width: 300px;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #d3d3d3;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-caixa input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 2px;
}

.txt-msg {
  display: block;
  width: 90%;
  max-width: 90%;
  border-radius: 2px;
}

.txt-send-button {
  display: block;
  padding: 2px 5px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #a9a9a9;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-send-button:hover {
  opacity: 50%;
}
