@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#__next {
  @apply h-full;
}
html,
body {
}

html,
body {
  @apply h-full;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --orange: #ed7950;
  --dark_orange: #c65932;

  --placeholder: #969cb3;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt-container-border {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.txt-caixa {
  display: block;
  width: 300px;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #d3d3d3;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-caixa input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 2px;
}

.txt-msg {
  display: block;
  width: 90%;
  max-width: 90%;
  border-radius: 2px;
}

.txt-send-button {
  display: block;
  padding: 2px 5px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #a9a9a9;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-send-button:hover {
  opacity: 50%;
}

.rbc-calendar .rbc-event:focus {
  outline: none;
}

.rbc-calendar .rbc-event:hover {
  opacity: 0.75;
}

.rbc-calendar .rbc-toolbar {
  flex-wrap: nowrap;
  font-weight: 500;
}

.rbc-calendar .rbc-month-view {
  overflow: hidden;
  border: 1px solid rgb(203 213 225);
  border-radius: 8px;
}

.rbc-calendar .rbc-toolbar .rbc-toolbar-label {
  @media (max-width: 640px) {
    font-size: small;
  }
}

.rbc-calendar .rbc-toolbar button {
  font-weight: 500;
  color: #111827;
  border: 1px solid rgb(203 213 225);
  border-radius: 8px;
  box-shadow: none;
}

.rbc-calendar .rbc-toolbar button:hover {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button:focus {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button:active {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button.rbc-active {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button.rbc-active:hover {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button.rbc-active:focus {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-toolbar button.rbc-active:active {
  color: #2c2e32;
  border: 1px solid rgb(203 213 225);
}

.rbc-calendar .rbc-header {
  padding: 0.15rem;
  font-weight: 500;
  color: #374151;
}

.rbc-calendar .rbc-off-range-bg {
  background-color: rgb(243 244 246);
}

.rbc-calendar .rbc-off-range {
  color: rgb(107 114 128);
}

.rbc-calendar .rbc-date-cell {
  padding: 5px 0 5px 9px;
  font-size: small;
  text-align: left;
}

.rbc-calendar .rbc-month-row {
  color: rgb(55 65 81);
}

.rbc-calendar .rbc-month-row + .rbc-month-row {
  border-top: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-rtl .rbc-day-bg + .rbc-day-bg {
  border-right: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-row-segment .rbc-event {
  width: calc(100% - 0.5rem);
  margin: auto;
  margin-bottom: 0.25rem;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}

.rbc-calendar .rbc-today {
  background-color: #ed7a501b;
}

.rbc-calendar .rbc-date-cell.rbc-now.rbc-current > button {
  font-weight: 600;
}

.rbc-calendar .rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-calendar .rbc-events-container .rbc-event {
  margin: auto;
  font-weight: 500;
  border: 3px solid white;
  border-radius: 10px;
}

.rbc-calendar .rbc-events-container .rbc-event-content {
  margin-top: 5px;
}

.rbc-calendar .rbc-time-content > * + * > * {
  border-left: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-rtl .rbc-time-content > * + * > * {
  border-right: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-current-time-indicator {
  height: 2px;
  background-color: var(--orange);
  border-radius: 12px;
}

.rbc-calendar .rbc-time-view-resources .rbc-time-header-gutter {
  border-right: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-time-header.rbc-overflowing {
  border-right: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-rtl .rbc-time-header.rbc-overflowing {
  border-left: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-time-header > .rbc-row:first-child {
  border-bottom: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-time-header > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-rtl .rbc-time-header-content {
  border-right: 1px solid rgb(226 232 240);
}

.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: 1px solid rgb(226 232 240);
}

.rbc-calendar .rbc-time-view {
  overflow: hidden;
  border: 1px solid rgb(203 213 225);
  border-radius: 8px;
}

.rbc-calendar .rbc-label {
  font-size: small;
  color: rgb(55 65 81);
  text-align: left;
}

.rbc-calendar .rbc-row.rbc-time-header-cell .rbc-button-link {
  font-weight: 500;
}

.rbc-calendar .rbc-allday-cell .rbc-event.rbc-event-allday {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.rbc-calendar .rbc-allday-cell .rbc-event {
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.rbc-calendar .rbc-show-more {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(107 114 128);
  background-color: rgba(0, 0, 0, 0);

  @media (max-width: 640px) {
    font-size: 8px;
  }
}

.rbc-calendar .rbc-show-more:hover,
.rbc-show-more:focus {
  opacity: 75%;
}

#bySubject .react-colorful {
  width: calc(100vw - 6rem);
}

#byYear .react-colorful {
  width: calc(86vw - 6rem);
}

@media (min-width: 1024px) {
  #bySubject .react-colorful {
    width: 18rem;
  }

  #byYear .react-colorful {
    width: 14rem;
  }
}
