@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --orange: #ed7950;

  --placeholder: #969cb3;
}

/* if body class is dark */
body.dark {
  color: #fff;
  background-color: #1a202c;
}

body.dark .navbar-darkmode-btn {
  color: yellow;
}
body.dark .navbar-darkmode-btn:hover {
  color: yellow;
  background: none;
}

body.dark button {
  color: #fff;
  background-color: #1a202c;
}
body.dark button:hover {
  color: #1a202c;
  border: none;
}

body.dark h1 {
  color: #fff;
}
body.dark .rbc-day-bg {
  background-color: #1a202c;
}
body.dark .rbc-off-range-bg {
  background-color: #1a202c;
}

.txt-container-border {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.txt-caixa {
  display: block;
  width: 300px;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #d3d3d3;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-caixa input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 2px;
}

.txt-msg {
  display: block;
  width: 90%;
  max-width: 90%;
  border-radius: 2px;
}

.txt-send-button {
  display: block;
  padding: 2px 5px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #a9a9a9;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-send-button:hover {
  opacity: 50%;
}
