@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;

  --orange: #ed7950;
  --dark_orange: #c65932;

  --placeholder: #969cb3;

  --shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.txt-container-border {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.txt-caixa {
  display: block;
  width: 300px;
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #d3d3d3;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-caixa input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 2px;
}

.txt-msg {
  display: block;
  width: 90%;
  max-width: 90%;
  border-radius: 2px;
}

.txt-send-button {
  display: block;
  padding: 2px 5px;
  margin-top: 30px;
  cursor: pointer;
  background-color: #a9a9a9;
  border: solid 2px black;
  border-radius: 5px;
}

.txt-send-button:hover {
  opacity: 50%;
}
