.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.filters {
  margin: 0 0 1rem 0;
}

.calendar {
  position: relative;
  z-index: 0;
  padding-top: 4.9rem;
}

@media (max-width: 881px) {
  .calendar {
    padding-top: 0;
  }
}

.calendar_style {
  height: 90vh;
  font-family: Inter;
}
