.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.filters {
  margin: 0 0 1rem 0;
}

.calendar {
  z-index: 0;
  height: calc(100vh - 4rem);
}

/* could be 100vh, which would help mobile view a bit by increasing the amount of space.
   however, it requires scrolling which goes against the objective of keeping it all in one view */
@media (max-width: 1024px) {
  .calendar {
    height: calc(100vh - 9.2rem);
  }
}
