.filters {
  margin: 0 0 1rem 0;
}

.schedule {
  position: relative;
  z-index: 0;
  padding-top: 4.9rem;
}

@media (max-width: 881px) {
  .schedule {
    padding-top: 0;
  }
}

.schedule_style {
  height: 90vh;
  font-family: Inter;
}

@media (max-width: 400px) {
  .schedule_style {
    height: 70vh;
  }
}
